*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
   ----------------------------
   Utilities Class start
   ----------------------------
    
 */
:root{
    --white: #ffffff;
}
